body, html{
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background: #fffefe;
}
/* Color Gradients */
.gradient-1{background: linear-gradient(to bottom, #ffb347, #ffcc33);}
.gradient-2{background: linear-gradient(to top, #dce35b, #45b649); }
.gradient-3{background: linear-gradient(to top, #7f00ff, #e100ff); }
.gradient-4{background: linear-gradient(to right, #ff416c, #ff4b2b);}
.gradient-5{background: linear-gradient(to bottom, #36d1dc, #5b86e5); }
.gradient-6{  background: linear-gradient(to top, #aaffa9, #11ffbd);}

.words{
  font-size: 45px !important;
  font-family: 'Permanent Marker', cursive;
}
.typed-fade-out {
  transition: 0.8s ease-out;
}
.typed-cursor {
  transition: 0.8s ease-in;
}
